body{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    
   
   
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;

}
.header{
    background-image: url('images/banner/banner3.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 808px;
}
.header-text{
    /* display: flex;
    flex-direction: column; */
    width: 525px;
    text-align: right;
    float: right;
    font-family: Work Sans;
    margin-top: 200px;
    margin-right:120px ;
}
.header-title{
    font-size: 65px;
    color: #fff;
    font-weight: 700;
}
.header-description{
    font-size: 20px;
    color: #fff;
    font-family: Work Sans;
    line-height: 26px;
    margin: 20px 0;
   
}
.btn-primary{
    padding: 12px 30px;
    background-color: #fff;
    color: #005FAC;
    font-weight: 700;
    border: 1px solid navy;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 8px;
}
.btn-primary:hover{
    background-color: navy;
    border: 1px solid navy;
    color: #fff;
    transition: all ease-in 0.25s;
}

/* main part start */
main{
    max-width: 1140px;
}
.section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 150px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.ticket-img{
    width: 400px;
}
.section1-ticket img , p{
    display: inline;
    align-items: center;
}

.section1-title{
    font-size: 40px;
    margin-bottom: 20px;
}
.skills{
    display: flex;
    justify-content: space-around;
    margin-left:100px;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
}
.skill-title{
    margin-top: 10px;
    margin-bottom: 10px;
}
.skill-desc{
    color: rgb(179, 169, 169);
}

.section3{
    background-image:linear-gradient(90deg ,#005FAC  ,rgba(0,0,0,0.1)), url('images/watch.png');
    width: 90%;
    height: 300px;
    margin-left: 70px;
    border-radius: 10px;
    position: absolute ;
}
.section3-container{
    margin-left: 100px;
    margin-top: 80px;
    position: relative;
}
.section3-title{
    font-size: 40px;
    color: #fff;
    width: 500px;
}